[submodule "code/containers"]
	path = code/containers
	url = https://github.com/ReproNim/containers.git
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = https://github.com/ReproNim/containers.git
[submodule "code/tacc-openneuro"]
	path = code/tacc-openneuro
	url = https://github.com/poldracklab/tacc-openneuro.git
	datalad-url = https://github.com/poldracklab/tacc-openneuro.git
[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = https://github.com/OpenNeuroDatasets/ds003401.git
	datalad-id = 1e4a19db-095c-465e-84dc-b43f8daea900
	datalad-url = https://github.com/OpenNeuroDatasets/ds003401.git
